@import 'mixins'; 


/* Plugins */ 
body {
  margin: 0;
}

body:after {
  content: '';
  display: table;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: .5s ease-in-out;
}

@media screen and (max-width: 1350px) {
  .header__nav ul li a {
    font-size: 22px;
  }

  .mBlock__text2 p {
    font-size: 30px;
    padding: 3%;
  }

  .mBlock__photoPart {
    zoom: 0.9;
  }
}

@media screen and (max-width: 1220px) {
  .mBlock__photoPart {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1100px) {
  .header__top .header__logo img {
    width: 10em;
  }

  .header__nav ul li a {
    font-size: 20px;
  }

  .header__mainText h1,p{
    zoom: 0.7;
  }

  .mBlock__infoText {
    zoom: 0.7;
  }

  .mBlock__photoPart {
    zoom: 0.7;
  }

  .mBlock__button {
    zoom: 0.7;
  }
}

@media screen and (max-width: 950px) {
  .header__nav ul li a {
    font-size: 18px;
  }

  .mBlock__photoPart {
    zoom: 0.6;
  }
}

@media screen and (max-width: 880px) {
  .header__nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 820px) {
  .mBlock__photoPart {
    zoom: 0.5;
  }
}

@media screen and (max-width: 800px) {
  .header__top .header__logo img {
    width: 7em;
  }

  .header__mainText h1,p {
    zoom: 0.5;
  }
}
/* Global styles */ 
@import './global/global_variables';
@import './global/global_font.scss';
@import './src/blocks/header/header';
@import './src/blocks/mBlock/mBlock';
@import './src/blocks/shops/shops';
@import './src/blocks/drugstore/drugstore';
@import './src/blocks/taxi/taxi';
@import './src/blocks/human/human';
@import './src/blocks/cleaning/cleaning';
@import './src/blocks/psych/psych';


@import './src/blocks/bvol/bvol';