{% extends "base.html" %}

{% block content %}
    <div class="home">

        <!-- Slider -->
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">

                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(images/inv.jpg)"></div>
                    <div class="home_slider_overlay"></div>
                    <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                        <div class="home_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content active">
                                            <div class="home_subtitle">Волонтёрская помощь!</div>
                                            <div class="home_title">
                                                <h1><span>Относитесь к малоподвижной</span></h1>
                                                <h1>категории граждан?</h1>
                                                <div class="home_subtitle">Мы поможем вам!</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(images/inv2.jpg)"></div>
                    <div class="home_slider_overlay"></div>
                    <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                        <div class="home_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content">
                                            <div class="home_subtitle">Волонтёрская помощь!</div>
                                            <div class="home_title">
                                                <h1><span>Попали в трудную</span></h1>
                                                <h1>жизненную ситуацию?</h1>
                                                <div class="home_subtitle">Мы поможем вам!</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(images/inv3.jpg)"></div>
                    <div class="home_slider_overlay"></div>
                    <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                        <div class="home_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content">
                                            <div class="home_subtitle">Волонтерская помощь!</div>
                                            <div class="home_title">
                                                <h1><span>Трудности во взаимодействии</span></h1>
                                                <h1>с окружающим миром?</h1>
                                                <div class="home_subtitle">Мы поможем вам!</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!-- About -->

    <!-- <div class="about">
                <div class="container">
                    <div class="row">

                        <!-- About Content -->
    <!--<div class="col-lg-8">
                            <div class="about_content">
                                <div class="section_title_container">

                                    <div class="section_title"><h1>О нас</h1></div>
                                    <div class="section_subtitle2"></div>
                                </div>
                                <div class="about_text">
                                    <p>Наш центр предоставляет помощь инвалидам и пенсионерам.</p>
                                </div>

                            </div>
                        </div>

                        <!-- About Image -->
    <!--<div class="col-lg-4">
                            <div class="about_image"><img src="images/about.png"></div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Quote -->

    <div class="quote">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="quote_content text-center">
                        <p>“Утратить физическую независимость не означает расстаться с жизнью..”</p>
                    </div>
                    <div class="quote_author text-center">– Филипп Поццо ди Борго</div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="pr2">
        <div class="cta mr-xl-5 border-radius-r mb-3" id="vol">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">

                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/IMG_3906.jpg)"></div>
                </div>

                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">

                        <div class="section_title">
                            <h1>Волонтёры</h1>
                        </div>
                        <div class="section_subtitle">Помощь оказывается бесплатно</div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=333&Itemid=1014"><img
                                        src="images/check.png">
                                    <span class="link">Уборка жилого помещения мытье посуды, вынос мусора.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=333&Itemid=1014"><img
                                        src="images/check.png">
                                    <span class="link">Покупка продуктов первой необходимости.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=333&Itemid=1014"><img
                                        src="images/check.png">
                                    <span class="link">Сопровождение, выгул домашних животных.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=333&Itemid=1014"><img
                                        src="images/check.png">
                                    <span class="link"> Приготовление пищи.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=333&Itemid=1014"><img
                                        src="images/check.png">
                                    <span class="link"> Помощь в использовании онлайн-услуг.</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Волонтёры - это обычные люди, которые готовы вложить частичку себя в доброе дело.

                            Если вы ограничены в передвижении, не можете обеспечить себя даже самым необходимым, вам может
                            потребоваться помощь волонтёра.
                            Услуги волонтёров вы можете заказать по номеру телефона <a href="tel:+7 (34938) 29 205">+7
                                (34938) 29-205</a></p>
                    </div>
                    <div
                        class="cta_buttons d-flex flex-row justify-content-center justify-content-md-start align-items-start flex-wrap">
                        <div class="button cta_button">
                            <a
                                href="http://xn----8sbgmveffhgdjtj8a5b.xn--80aze9d.xn--p1ai/index.php?option=com_content&view=featured&Itemid=479">Подробнее</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Pricing -->
    <div class="pr2">
        <div class="cta ml-xl-5 border-radius-l mb-3" id="mag">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">
                        <div class="section_title">
                            <h1>Магазины</h1>
                        </div>
                        <div class="section_subtitle">Заказ продуктов первой необходимости</div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Мясо, рыба, молоко, яйца.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Хлеб, выпечка и мука.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Крупы и макаронные изделия.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Черный чай.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span> Масло.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Магазины "Карина" и "Горячий хлеб" предоставляют возможность заказа продуктов
                            питания на дом с возможностью оплаты при получении.</p>
                    </div>
                </div>
                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/IMG_4321.jpg)"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="pr2">
        <div class="cta mr-xl-5 border-radius-r mb-3" id="apt">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/cta4.jpg)"></div>
                </div>
                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">
                        <div class="section_title">
                            <h1>Аптеки</h1>
                        </div>
                        <div class="section_subtitle">Доставка лекарств</div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Соблюденные срок и условия хранения всей медицинской продукции.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Низкие розничные цены.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Оптовые цены на некоторые группы товаров.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Заказ лекарственных препаратов, медицинских изделий и технических средств
                            реабилитации с доставкой на дом.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pr2">
        <div class="cta ml-xl-5 border-radius-l mb-3" id="tax">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">
                        <div class="section_title">
                            <h1>Социальное такси</h1>
                        </div>
                        <div class="section_subtitle">Перемещение по городу</div>
                        <div class="section_subtitle"><a href="tel:+7 (34938) 29 205">+7 (34938) 29-205</a></div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=159&Itemid=749"><img
                                        src="images/check.png">
                                    <span class="link">Подача транспорта по указанному времени к пункту
                                        назначения.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=159&Itemid=749"><img
                                        src="images/check.png">
                                    <span class="link">Помощь при посадке и высадке.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&view=article&id=159&Itemid=749"><img
                                        src="images/check.png">
                                    <span class="link">Сопровождение.</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Служба "Социальное такси" может оказать услуги по перевозке и сопровождению
                            маломобильных граждан по городу,
                            а так же осуществить перевозку в г. Ноябрьск (платно).</p>
                    </div>
                    <div
                        class="cta_buttons d-flex flex-row justify-content-center justify-content-md-start align-items-start flex-wrap">
                        <div class="button cta_button">
                            <a
                                href="http://xn----8sbgmveffhgdjtj8a5b.xn--80aze9d.xn--p1ai/index.php?option=com_content&view=featured&Itemid=479">Подробнее</a>
                        </div>
                        <div class="button cta_button">
                            <a href="taxi.php">Заказать</a>
                        </div>
                    </div>
                </div>
                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/cta5.jpg)"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="pr2">
        <div class="cta mr-xl-5 border-radius-r mb-3" id="gum">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/cta6.jpg)"></div>
                </div>
                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">
                        <div class="section_title">
                            <h1>Гуманитарные комнаты</h1>
                        </div>
                        <div class="section_subtitle">Помощь нуждающимся семьям</div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Гуманитарная комната организована общественной организацией "Семья Муравленко".</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Нуждающимся может быть предоставлена одежда и обувь.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Гуманитарная комната находится в ТЦ "Ямал" и работает с 10:00 до 17:00, кроме
                                    понедельника и вторника.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Активисты общественной организации «Семья Муравленко» приглашают жителей,
                            которые оказались в трудной жизненной ситуации, в гуманитарную комнату. Общественники
                            помогут подобрать необходимые вещи и обувь, которые собрали неравнодушные жители
                            города.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="pr2">
        <div class="cta ml-xl-5 border-radius-l mb-3" id="ub">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">
                        <div class="section_title">
                            <h1>Уборка помещений</h1>
                        </div>
                        <div class="section_subtitle">Уборка</div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Уборка квартир.</span>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="images/check.png">
                                <span>Уборка домов и коттеджей.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Наши волонтеры предлагают услуги по уборке и отчиске помещений. Льготной категории
                            граждан услуги предоставляются бесплатно.</p>
                    </div>
                    <div
                        class="cta_buttons d-flex flex-row justify-content-center justify-content-md-start align-items-start flex-wrap">
                        <div class="button cta_button">
                            <a
                                href="http://xn----8sbgmveffhgdjtj8a5b.xn--80aze9d.xn--p1ai/index.php?option=com_content&view=featured&Itemid=479">Подробнее</a>
                        </div>
                    </div>
                </div>
                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/cta7.jpg)"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="pr2">
        <div class="cta mr-xl-5 border-radius-r mb-3" id="soc">
            <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">

                <!-- CTA Image -->
                <div class="cta_image align-self-stretch">
                    <div class="background_image" style="background-image:url(images/cta8.jpg)"></div>
                </div>

                <!-- CTA Content -->
                <div class="cta_content">
                    <div class="section_title_container">

                        <div class="section_title">
                            <h1>Центр социального обслуживания</h1>
                        </div>
                    </div>
                    <div class="cta_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&amp;view=article&amp;id=245"><img
                                        src="images/check.png">
                                    <span class="link">Психологическое консультирование, снятие депрессивного и стрессового
                                        состояния.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&amp;view=article&amp;id=329&amp;Itemid=1009"><img
                                        src="images/check.png">
                                    <span class="link">Услуги няни.</span></a>
                            </li>
                            </a>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&amp;view=article&amp;id=158&amp;Itemid=748"><img
                                        src="images/check.png">
                                    <span class="link">Предоставление технических средств реабилитации.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&amp;view=article&amp;id=332&amp;Itemid=1013"><img
                                        src="images/check.png">
                                    <span class="link">Услуги сиделки.</span></a>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <a
                                    href="http://кцсон-муравленко.янао.рф/index.php?option=com_content&amp;view=article&amp;id=331&amp;Itemid=1011"><img
                                        src="images/check.png">
                                    <span class="link">Сопровождение ребенка в школу, детский сад или место дополнительного
                                        образования.</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="about_text">
                        <p class="pat">Сотрудники Центра социального обслуживания могут оказать профессиональную поддержку
                            людям, оказавшимся в трудной жизненной ситуации.</p>
                    </div>
                    <div
                        class="cta_buttons d-flex flex-row justify-content-center justify-content-md-start align-items-start flex-wrap">
                        <div class="button cta_button">
                            <a
                                href="http://xn----8sbgmveffhgdjtj8a5b.xn--80aze9d.xn--p1ai/index.php?option=com_content&view=featured&Itemid=479">Подробнее</a>
                        </div>
                        <div class="button cta_button">
                            <a href="nanny.php">Заказать няню</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}