{% extends "base.html" %}

{% block content %}
    <div class="home {% if visually_impaired == 1 %}home-vi{% endif %}">
    
        <!-- Slider -->
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">
    
                <!-- Slide -->
                <div class="slide">
                    {% if visually_impaired == 0 %}
                    <div class="background_image {% if visually_impaired == 1 %}background-vi_image{% endif %}" style="background-image:url(images/IMG_4238.JPG.jpg)"></div>
                    {% endif %}
                    <div class="home_slider_overlay"></div>
                    <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                        <div class="home_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content active">
                                            <div class="home_title">
                                                <h1><span>Заказ услуг няни</span></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="order {% if visually_impaired == 1 %}order-vi{% endif %}">
        <h1 class="hp">Заказ няни</h1>
        <div class="section_subtitle4">Заявка принимается не позднее 1 дня по телефону:</div>
        <div class="section_subtitle2">
            <a href="tel:+7 (34938) 29 2 05">+7 (34938) 29-205</a>
        </div>
        
        <div class="about" id="gh">
            <div class="container">
                <div class="row">
                    <!-- About Content -->
                    <div class="col-lg-8" style="margin: 0 auto">
                        <div class="about_content">
                            <div class="section_title_container">
                                <form action="/send_mail/nanny" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-12 ">
                                            <label for="fio">ФИО родителя(законного представителя):</label>
                                            <input name="fio" id="fio"
                                                class="form-control"
                                                required type="text" placeholder="Иванов Иван Иванович" style="height: 50px;">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4 col-xs-12">
                                            <label for="birthday">Дата рождения:</label>
                                            <input name="birthday" id="birthday"
                                                class="form-control"
                                                required type="text" placeholder="06.11.1994" style="height: 50px;">
                                        </div>
                                        <div class="form-group col-md-8 col-sm-12">
                                            <label for="phone">Телефон:</label>
                                            <input name="phone" id="phone"
                                                class="form-control"
                                                required type="text" placeholder="+7 (999) 777-66-55" style="height: 50px;">
                                        </div>
                                    </div>
                                    <h3 class="mb-3">Данные паспорта</h3>
                                    <div class="form-row ">
                                        <div class="form-group col-md-4 col-sm-12 ">
                                            <label for="serial">Серия:</label>
                                            <input name="serial" id="serial"
                                                class="form-control"
                                                type="text" placeholder="1234" style="height: 50px;">
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="number">Номер:</label>
                                            <input name="number" id="number"
                                                class="form-control"
                                                type="text" placeholder="567890" style="height: 50px;">
                                        </div>
                                        <div class="form-group col-md-4 col-xs-8">
                                            <label for="issuedate">Дата выдачи:</label>
                                            <input name="datapas" id="issuedate"
                                                class="form-control"
                                                type="text" placeholder="12.12.2012" style="height: 50px;">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="issuedby">Кем выдан:</label>
                                            <input name="issuedby" id="issuedby"
                                                class="form-control"
                                                type="text" placeholder="Отделом УФМС России по ЯНАО в г. Муравленко"
                                                style="height: 50px;">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="regadress">Адрес регистрации:</label>
                                            <input name="regadress" id="regadress"
                                                class="form-control"
                                                type="text" placeholder="г. Муравленко, ул. Дружбы народов, д. 52, кв. 62"
                                                style="height: 50px;">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="actualadress">Адрес фактического проживания:</label>
                                            <input name="actualadress" id="actualadress"
                                                class="form-control"
                                                type="text" placeholder="г. Муравленко, ул. Дружбы народов, д. 52, кв. 62"
                                                style="height: 50px;">
                                        </div>
                                    </div>
                                    <h3 class="mb-3">Время заказа няни</h3>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 ">
                                            <input autocomplete="off" type="text" id="record-date-from"
                                                class="form-control"
                                                placeholder="C" name="date_from" style="height: 50px;" required>
                                        </div>
                                        <div class="form-group col-md-6 d-flex">
                                            <input autocomplete="off" type="text" id="record-date-until"
                                                class="form-control mt-auto"
                                                placeholder="До" name="date_until" style="height: 50px;" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group form-check mt-3 col-12">
                                            <input id="checkbox" class="form-check-input  form-input-taxi" type="checkbox"
                                                onclick="check()">
                                            <label style="{% if visually_impaired == 0 %}font-size: 20px;{% endif %} font-weight: normal; line-height: 20px"
                                                class="form-check-label " for="checkbox"
                                                title="Достоверность и полноту настоящих сведений подтверждаю. Даю согласие на обработку персональных данных о себе в соответствии со статьей 9 Федерального закона от 27 июля 2006г. № 152 - ФЗ «О персональных данных для включенияв регистр получателей социальных услуг».">
                                                Даюсогласие на обработку персональных данных
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row d-flex justify-content-center ">
                                        <input type='submit' id="delButton"
                                            class="btn btn-dark btn-lg contact submit2"
                                            disabled value='Отправить' style="width: 300px; height: 60px; font-size: 25px; ">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}