{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="text-center" style="margin-top: 400px; margin-bottom: 400px;">
        <h3 class="mb-5">К сожалению, при оформлении Вашего заказа возникла ошибка. Пожалуйста, попробуйте 
            оформить заказ позже, либо свяжитесь с нами по телефону
            <a href="tel:+7 (34938) 29 205">+7 (34938) 29-205</a>.
        </h3>
        <div class="form-row d-flex justify-content-center">
            <a href="index.php" class="btn btn-dark btn-lg" style="height: 60px;">
                Вернуться на главную страницу
            </a>
        </div>
    </div>
</div>
{% endblock %}