$VOLUNTEERS-COLOR : #70bff2;
$SHOPS-COLOR: #d5493d;
$DRUGSTORE-COLOR: #98dc08;
$TAXI-COLOR: #fff200;
$HUMANITARIANAID-COLOR: #f896b0;
$CLEANING-COLOR: #ac50fb;
$PSYCH-COLOR: #ff8701;
$BECOMEVOLUNTEER-COLOR: #833ab4;