mixin shops(modifier)
 .shops&attributes(attributes)(id="shop")
   .mBlock__top(id="shop_top")
     .mBlock__info
       .mBlock__infoText
         h1 Магазины
         h2 Заказ продуктов первой необходимости
       a(href="")
         .mBlock__button(id="shop_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .shops__innerBox1
         ul
           li
             img(src="img/milkneggs.svg")
             p Мясо, рыба, молоко, яйца
           li
             img(src="img/bread.svg")
             p Хлеб, выпечка и мука
           li
             img(src="img/ravioli.svg")
             p Крупы и макаронные изделия 
           li
             img(src="img/green-tea.svg")
             p Черный чай
           li
             img(src="img/butter.svg")
             p Масло
     .mBlock__text2
       p Магазины "Карина" и "Горячий хлеб" предоставляют возможность заказа продуктов питания на дом с возможностью оплаты при получении.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
