.shops {

  background-color: $SHOPS-COLOR;
  width: 100%;
  margin-bottom: 3vh;

  a {
    text-decoration: none;
    color: black;
  }

  #shop_top {
    background: linear-gradient(135deg, rgba(213,73,61,1) 0%, rgba(255,255,255,1) 100%);
  }

  #shop_button {
    background-color: $SHOPS-COLOR;
  }
  &__innerBox1 ul {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 20px solid $SHOPS-COLOR;
 
    img {
      width: 15%;
      margin-right: 3%;
    }
  }
  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: GothamPro sans-serif;
    font-size: 23px;
  }
}
