mixin taxi(modifier)
 .taxi&attributes(attributes)(id="tx")
   .mBlock__top(id="taxi_top")
     .mBlock__info
       .mBlock__infoText(id="taxi_infoText")
         h1 Такси
         h2 Перемещение по городу
       a(href="")
         .mBlock__button(id="taxi_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .taxi__innerBox1
         ul
           li
             img(src="img/taxi.svg")
             p Подача транспорта по указанному времени к пункту назначения
           li
             img(src="img/clock.svg")
             p Помощь при посадке и высадке
           li
             img(src="img/couple.svg")
             p Сопровождение
           li
             img(src="img/crutches.svg")
             p Предоставление кресла-коляски или ходунков
     .mBlock__text2
       p Служба "Социальное такси" может оказать услуги по перевозке и сопровождению малоподвижных граждан по городу, а так же осуществить перевозку в г. Ноябрьск. Льготной категории граждан услуги предоставляются бесплатно.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
