/* Классы для формы заказа няни */
.nania2{

    width: 60vw;
     min-width: 280px;
      max-width: 700px;
       float: left;
}

.nanidate{
    width: 225px;
     float: left;
}

.nanipassword{
font-size: 26px;
 margin: 35px 0 35px; 
 width: 700px;
}

.naniseria{
    width: 150px;
     float: left;
}

.naninumb{
    width: 325px;
     float: left;
}

.nanidate{
width: 225px;
float: left;
}

.nanitel{
    width: 400px;
     float: left;
}

/* Классы для формы заказа такси */
.taksi2{
    width: 60vw;
    max-width: 700px;
     float: left;
}

.takstel{
    width: 400px; 
    float: left;
}
.takskategor{
    width: 300px;
     float: left;
}

.telef{
    width: 60vw;
   max-width: 350px;
    height: 50px; 
    padding: 12px;


}
.inval{
    width: 60vw;
    max-width: 300px;
    height: 50px;
     padding: 12px;
}