@charset "utf-8";
/* CSS Document */
/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. About
8. Quote
9. CTA
10. Classes
11. Pricing
12. Footer


******************************/
/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800');

/*********************************
2. Body and some general stuff
*********************************/
.table-date {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.table-date th, .table-date td {
	border: 1px solid #fff;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}
.table-date th {
    background-color: #74bae6;
    color: #FAFAFA;
}
.table-date tr {
    border-bottom: 4px solid #dee2e6;
}
.table-date td {
    border-right: 4px solid #dee2e6;
}
.table-date tr:last-child {
    border: none!important;
}
.table-date td:last-child {
    border: none!important;
}

/* Hover */
.table-date td:hover:after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px; 
	bottom: 0px;    
	left: 0px;
    border: 3px solid green;
}

.cta_list .link{
    transition: .4s;
    text-decoration: underline;
}

.link:hover{
    color: #05304d;
}

/* Click */
.table-date td.active:after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px; 
	bottom: 0px;    
	left: 0px;
	background-image: url("../images/gal.png") !important;
	 background-position: center;
	background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2.145;
    font-weight: 400;
    color: #909090;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.pat {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2.145;
    font-weight: 400;
    color: #FAFAFA;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.pat2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2.145;
    font-weight: 400;
    color: #FAFAFA;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    padding-top: 30px;
}

.pat3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2.145;
    font-weight: 400;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    padding-top: 30px;
    padding-bottom: 20px;
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

p:last-of-type {
    margin-bottom: 0;
}

a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f;
}

p a:hover::after {
    opacity: 0.2;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    line-height: 1.2;
    margin-bottom: 0;
    color: #2c2c2c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.hp {
    padding-top: 96px;
    text-align: center;
}

img {
    max-width: 100%;
}

button:active {
    outline: none;
}

.form-control {
    color: black;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 16px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    line-height: 1.3;
    color: #013ADF;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #999999;
    background-color: #dddddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999999;
}

[type="checkbox"]:disabled + label {
    color: #aaaaaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted #013ADF;
}
label{
    color: #2c2c2c;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
label:hover:before {
    border: 2px solid #013ADF !important;
    background: #ffffff
}

.f-taxi:nth-child(4) {
    width: 10% !important;
}

.f-taxi:nth-child(5) {
    width: 10% !important;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fill_height {
    height: 100%;
}

.super_container {
    width: 100%;
    overflow: hidden;
}

.prlx_parent {
    overflow: hidden;
}

.prlx {
    height: 130% !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nopadding {
    padding: 0px !important;
}

.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
    height: 101%;
}

.slide {
    height: 100%;
}

.button {
    width: 186px;
    height: 65px;
    background: transparent;
    text-align: center;
    border: solid 2px #2E2EFE;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 130%;
    height: 320%;
    background: #2E2EFE;
    content: '';
    z-index: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.button::after {
    display: block;
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: #2E2EFE;
    content: '';
    transform: rotate(-45deg);
}

.button a {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.075em;
    line-height: 61px;
    text-transform: uppercase;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.button:hover::before {
    top: 160%;
    left: 160%;
}

.button:hover a {
    color: #2E2EFE;
}

.button_2 {
    width: 186px;
    height: 65px;
    background: transparent;
    text-align: center;
    border: solid 2px #2E2EFE;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button_2 a {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.075em;
    line-height: 61px;
    text-transform: uppercase;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.button_2:hover {
    background: #2E2EFE;
}

.section_subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #FAFAFA;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    padding-top: 5px;
}

.section_subtitle2 {
    font-size: 18px;
    font-weight: 700;
    color: #A4A4A4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    padding-top: 5px;
    text-align: center;
}

.section_subtitle3 {
    font-size: 18px;
    font-weight: 700;
    color: #FAFAFA;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    padding-top: 15px;
}

.section_subtitle4 {
    font-size: 18px;
    font-weight: 700;
    color: #A4A4A4;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    padding-top: 30px;
    text-align: center;
}

.section_title {
    margin-top: 8px;
}

/*********************************
3. Header
*********************************/

.header {
    position: absolute;
    left: 150px;
    top: 30px;
    width: calc(100% - 314px);
    height: 96px;
    background: rgba(116, 186, 230, 0.6);
    z-index: 100;
    border-bottom: solid 2px rgba(116, 186, 230, 1);
}

.header_wrap {
    width: 100%;
    height: 100%;
}


.fixed_header .main_nav{
    margin: 10px auto;
}
.fixed_header .logo{
    margin-left: 7vw;
}
.fixed_header .social {
    margin-right: 7vw;
}
.logo img {
    width: 80%;
    height: auto;
}

.main_nav ul li {
    margin: 0px 10px;
}
.main_nav ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

}

.main_nav ul li a:hover {
    color: #202020;
}

.social ul li {
    position: relative;
}

.social ul li a {
    display: block;
    position: relative;
    height: 100%;
}

.social ul li a i {
    color: #ffffff;
    font-size: 60px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.social ul li a:hover i {
    color: #202020;
}

.fixed_header {
    position: fixed;
    top: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: #74bae6;
    border-bottom: solid 2px rgba(46, 46, 254, 0.3);
    z-index: 100;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.fixed_header.scrolled {
    top: 0;
}

.hamburger {
    display: none;
    padding: 5px;
    cursor: pointer;
}

.hamburger i {
    font-size: 22px;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.hamburger:hover i {
    color: #2E2EFE;
}

/*********************************
4. Menu
*********************************/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 101;
}

.menu_door {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(25, 10, 73, 0.9);
}

.door_left {
    right: 50%;
}

.door_right {
    left: 50%;
}

.menu_content {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.menu_close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.menu_close:hover {
    color: #2E2EFE;
}

.menu_nav ul li:not(:last-of-type) {
    margin-bottom: 5px;
}

.menu_nav ul li a {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.menu_nav ul li a:hover {
    color: #2E2EFE;
}


/*********************************
5. Home
*********************************/

.home {
    width: 100%;
    height: 919px;
}

.home_slider_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(57, 6, 113, 0.74), rgba(88, 4, 21, 0.68));
}

.home_slider_container {
    height: 100%;
}

.slide_wrap {
    width: 100%;
    height: 100%;
    padding-top: 90px;
}

.home_container {
    width: 100%;
}

.home_content {
    opacity: 0;
    -webkit-transition: all 2000ms 500ms ease;
    -moz-transition: all 2000ms 500ms ease;
    -ms-transition: all 2000ms 500ms ease;
    -o-transition: all 2000ms 500ms ease;
    transition: all 2000ms 500ms ease;
}

.home_content.active {
    opacity: 1;
}

.home_subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    padding-left: 6px;
}

.home_title {
    margin-top: 9px;
}

.home_title h1 {
    font-size: 45px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.home_title h1:not(:last-of-type) {
    margin-bottom: -6px;
}

.home_title h1 span {
    font-weight: 700;
}

.home_button {
    margin-left: 9px;
    margin-top: 37px;
}

.home_slider .owl-dots {
    position: absolute;
    left: calc((100% - 1102px) / 2);
    bottom: 36px;
    z-index: 100;
}

.home_slider .owl-dots .owl-dot {
    outline: none;
    border-radius: 50%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.home_slider .owl-dots .owl-dot span {
    position: relative;
    background: transparent;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.home_slider .owl-dots .owl-dot:hover span {
    background: transparent;
}

.home_slider .owl-dots .owl-dot:not(.active):hover span::after {
    color: #2E2EFE;
}

.home_slider .owl-dots .owl-dot.active {
    background: #2E2EFE;
    width: 44px;
    height: 44px;
    margin-right: 6px;
}

.home_slider .owl-dots .owl-dot.active span {
    background: transparent;
}

.home_slider .owl-dots .owl-dot span::after {
    display: block;
    position: relative;
    color: #ffffff;
}

.home_slider .owl-dots .owl-dot:first-child span::after {
    content: '1';
}

.home_slider .owl-dots .owl-dot:nth-child(2) span::after {
    content: '2';
}

.home_slider .owl-dots .owl-dot:nth-child(3) span::after {
    content: '3';
}

.home_slider .owl-dots .owl-dot:nth-child(4) span::after {
    content: '4';
}

.home_slider .owl-dots .owl-dot:nth-child(5) span::after {
    content: '5';
}

.home_slider .owl-dots .owl-dot:nth-child(6) span::after {
    content: '6';
}

.home_slider .owl-dots .owl-dot:nth-child(7) span::after {
    content: '7';
}

.home_slider .owl-dots .owl-dot:nth-child(8) span::after {
    content: '8';
}

.home_slider .owl-dots .owl-dot:nth-child(9) span::after {
    content: '9';
}

.home_slider .owl-dots .owl-dot:nth-child(10) span::after {
    content: '10';
}

/*********************************
6. Intro
*********************************/

.intro_boxes_wrap {
    width: 100%;
}

.intro_boxes_wrap > div {
    width: 100%;
    height: 498px;
}

.intro_box {
    width: calc(100% / 3);
    height: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

.intro_box:first-child {
    background: #74bae6;
}

.intro_box:nth-child(2) {
    background: #3c098d;
}

.intro_box:nth-child(3) {
    background: #2E2EFE;
}

.intro_box_icon {
    width: 41px;
    height: 41px;
}

.intro_box_icon img {
    max-height: 100%;
}

.intro_box_title {
    margin-top: 25px;
}

.intro_box_title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.intro_box_text {
    margin-top: 28px;
}

.intro_box_text p {
    color: #ffffff;
}

/*********************************
7. About
*********************************/

.about {
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 99px;
}

.about_text {
    margin-top: 25px;
    padding-right: 75px;
}

.about_button {
    margin-top: 36px;
}

.about_image {
    padding-top: 8px;
}

/*********************************
8. Quote
*********************************/

.quote {
    background: #ffffff;
    padding-bottom: 97px;
}

.quote_content {
    border-top: solid 1px #dfddeb;
    padding-top: 87px;
}

.quote_content p {
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    color: #2c2c2c;
    line-height: 1.4444;
}

.quote_author {
    font-size: 18px;
    font-weight: 700;
    color: #2c2c2c;
    margin-top: 42px;
}

/*********************************
9. CTA
*********************************/

.cta {
    background: #74bae6;
}

.cta_image {
    width: 40%;
}

.cta_content {
    width: 60%;
    padding-top: 95px;
    padding-bottom: 88px;
    padding-left: 200px;
    padding-right: 220px;
}

.cta .section_title h1 {
    color: #ffffff;
}

.cta_list {
    margin-top: 49px;
    margin-left: -3px;
}

.cta_list ul li:not(:last-of-type) {
    margin-bottom: 22px;
}

.cta_list ul li span {
    padding-left: 19px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.cta_buttons {
    margin-top: 67px;
}

.cta_buttons .cta_button {
    margin-bottom: 12px;
}

.cta_buttons .cta_button:not(:last-child) {
    margin-right: 18px;
}

/*********************************
10. Classes
*********************************/

.classes {
    background: #ffffff;
    padding-top: 97px;
    padding-bottom: 100px;
}

.classes_slider_container {
    margin-top: 90px;
}

.classes_slide_wrap {
    padding-bottom: 42px;
}

.classes_slide_wrap > div {
    background: #eef3f6;
    padding-top: 72px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 108px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.class_image {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -42px;
    border-radius: 50%;
    overflow: hidden;
}

.class_image a {
    display: block;
    position: relative;
    height: 100%;
}

.class_image a::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 3px #2E2EFE;
    content: '';
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.classes_slide_wrap:hover .class_image a::after {
    opacity: 1;
}

.classes_slide_wrap:hover > div {
    background: #74bae6;
}

.classes_title h3 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.classes_slide_wrap:hover .classes_title h3 {
    color: #ffffff;
}

.classes_text {
    margin-top: 25px;
}

/*********************************
11. Pricing
*********************************/
.pr {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pr2 {
    padding-bottom: 10px;
}

.pricing {
    padding-top: 101px;
    padding-bottom: 100px;
}

.pricing .section_title h1 {
    color: #ffffff;
}

.pricing_slider_container {
    margin-top: 90px;
}

.pricing_box {
    background: #ffffff;
}

.pricing_box_alt {
    background: #74bae6;
    border: none;
}

.pricing_title_box {
    width: 100%;
    height: 202px;
    overflow: hidden;
}

.pricing_title_box::before {
    display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 100%;
    height: 120%;
    background: #74bae6;
    content: '';
    z-index: 0;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: rotate(22.5deg);
    -moz-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    -o-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.pricing_title_box::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 120%;
    background: #74bae6;
    content: '';
    z-index: 0;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-22.5deg);
    -moz-transform: rotate(-22.5deg);
    -ms-transform: rotate(-22.5deg);
    -o-transform: rotate(-22.5deg);
    transform: rotate(-22.5deg);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.pricing_box_alt .pricing_title_box::after,
.pricing_box_alt .pricing_title_box::before {
    background: #2E2EFE;
}

.pricing_title_box > div {
    z-index: 1;
}

.pricing_name {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 49px;
    line-height: 1.2;
}

.pricing_price {
    font-size: 48px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 14px;
    line-height: 1.2;
}

.pricing_price span {
    vertical-align: super;
    font-size: 24px;
    padding-left: 8px;
}

.pricing_per {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 10px;
}

.pricing_content {
    padding-top: 52px;
    padding-bottom: 46px;
}

.pricing_list ul li {
    font-size: 14px;
    font-weight: 400;
    color: #838383;
}

.pricing_list ul li:not(:last-of-type) {
    margin-bottom: 15px;
}

.pricing_info {
    margin-top: 35px;
    width: 19px;
    height: 19px;
    background: #ffc016;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pricing_info a {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.pricing_button {
    margin-top: 37px;
}

.pricing_box .button,
.pricing_box .button_2 {
    width: 165px;
}

/*********************************
12. Footer
*********************************/

.footer {
    background: #74bae6;
}

.footer_content {
    padding-top: 99px;
    padding-bottom: 30px;
    margin-top: 0px;
}

.footer_logo a {
    display: inline-block;
    position: relative;
}

.footer_bar {
    height: 56px;
}

.copyright {
    font-size: 11px;
    font-weight: 700;
    color: #443586;
}

.footer_row {
    margin-top: 59px;
}

.footer_icon {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #0f0432;
}

.footer_icon > div {
    width: 42px;
    height: 42px;
}

.footer_icon > div img {
    max-width: 100%;
    max-height: 100%;
}

.footer_title {
    margin-top: 33px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

.footer_list {
    margin-top: 25px;
}

.footer_list ul li:not(:last-of-type) {
    margin-bottom: 15px;
}

.footer_list ul li {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
