@font-face {
  font-family: GothamPro sans-serif;
  src: url('../fonts/GothamPro.OTF');
}

@font-face {
  font-family: EuropaNuovaExtraBold sans-serif;
  src: url('../fonts/EuropaNuovaExtraBold.TTF');
}

@font-face {
  font-family: GothamProLightItalic sans-serif;
  src: url('../fonts/GothamProLightItalic.TTF');
}

@font-face {
  font-family: GothamProMediumRegular sans-serif;
  src: url('../fonts/GothamProMediumRegular.TTF');
}