mixin drugstore(modifier)
 .drugstore&attributes(attributes)(id="drg")
   .mBlock__top(id="drg_top")
     .mBlock__info
       .mBlock__infoText
         h1 Аптеки
         h2 Доставка лекарств
       a(href="")
         .mBlock__button(id="drg_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .drugstore__innerBox1
         ul
           li
             img(src="img/drug.svg")
             p Соблюденные срок и условия хранения всей медицинской продукции
           li
             img(src="img/architecture-and-city.svg")
             p Низкие розничные цены
           li
             img(src="img/pills.svg")
             p Оптовые цены на некоторые группы товаров 
     .mBlock__text2
       p Заказ лекарственных препаратов, медицинских изделий и технических средств реабилитации(?) с доставкой на дом.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
