mixin bvol(modifier)
 .bvol&attributes(attributes)(id="bvol")
   .mBlock__top(id="bvol_top")
     .mBlock__info
       .mBlock__infoText
         h1 Хотите стать волонтером
         h2 или разово помочь?
       a(href="")
         .mBlock__button(id="bvol_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .bvol__innerBox1
         ul
           li
             img(src="img/question.svg")
             p Отдать вещи и обувь
           li
             img(src="img/question.svg")
             p Отдать костыли, кресла-коляски или матрацы
           li
             img(src="img/question.svg")
             p Заполнить анкету и стать волонтером
     .mBlock__text2
       p Став волонтером, вы получаете возможность сделать мир лучше, а людей вокруг счастливее.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
