.bvol {

  background-color: $BECOMEVOLUNTEER-COLOR;
  width: 100%;
  margin-bottom: 3vh;

  a {
    text-decoration: none;
    color: black;
  }

  #bvol_top {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  #bvol_button {
    background-color: $BECOMEVOLUNTEER-COLOR;
  }
  &__innerBox1 ul {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 20px solid $BECOMEVOLUNTEER-COLOR;
 
    img {
      width: 15%;
      margin-right: 3%;
    }
  }
  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: GothamPro sans-serif;
    font-size: 23px;
  }
}
