mixin mBlock(modifier)
 .mBlock&attributes(attributes)(id="vol")
   .mBlock__top
     .mBlock__info
       .mBlock__infoText
         h1 Волонтёры
         h2 Помощь оказывается бесплатно
         h3 8(34938)29-205
       a(href="")
         .mBlock__button 
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .mBlock__innerBox1
         ul
           li
             img(src="img/window-cleaner.svg")
             p Уборка   жилого  помещения мытье посуды, вынос мусора
           li
             img(src="img/shopping-cart.svg")
             p Покупка продуктов  первой необходимости
           li
             img(src="img/help-the-elderly.svg")
             p Сопровождение, выгул домашних живтоных 
           li
             img(src="img/bowl.svg")
             p Приготовление пищи
           li
             img(src="img/headphones.svg")
             p Помощь в использовании онлайн-услуг
     .mBlock__text2
       p Волонтёры - это обычные люди, которые готовы вложить частичку себя в доброе дело. <br><br>Если вы ограничены в передвижении, не можете обеспечить себя даже самым необходимым, вам может потребоваться помощь волонтёра.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
