.mBlock {
//  height: 100vh;
 background-color: $VOLUNTEERS-COLOR;
 width: 100%;
 margin-bottom: 3vh;
 a {
   text-decoration: none;
   color: black;
 }

 &__top {
   position: relative;
   top: 3vh;
   width: 100%;
   height: 30vh;
   background: linear-gradient(135deg, rgba(112,191,242,1) 0%, rgba(255,255,255,1) 100%);   
  // background: url(img/backPhoto.jpg);
   display: flex;
   justify-content: space-around;
 }

 &__info {
   display: flex;
   justify-content: space-between;
   align-items: center;
  //  flex-wrap: wrap;
   width: 80%;
   height: 100%;
 }

 &__infoText {
color: white;
   h1 {
    font-family: EuropaNuovaExtraBold sans-serif;
    font-size: 80px;
    margin: 0;
  }

  h2 {
    font-family: GothamProMediumRegular sans-serif;
    font-size: 36px;
    margin: 0;
  }

  h3 {
    font-family: GothamProMediumRegular sans-serif;
    font-size: 36px;
    margin: 2% 0 0 0;
    // letter-spacing: 7px;
  }
 }

 &__button {
   display: flex;
   background-color: $VOLUNTEERS-COLOR;
  //  border-radius: 100px;
   width: 40vh;
   height: 15vh;
   align-items: center;

   p {
     font-family: EuropaNuovaExtraBold sans-serif;
     font-size: 57px;
     width: 100%;
     text-align: center;
   }
 }

//  &__button:hover {
//    border-radius: 0px;
//  }

 &__rest {
   position: relative;
   top: 3vh;
   display: flex;
   flex-direction: row;
   width: 100%;
 }

 &__text1 {
   width: 40%;
   background-color: white;
 }

 &__innerBox1 ul {
   margin: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-left: 20px solid $VOLUNTEERS-COLOR;

   img {
     width: 15%;
     margin-right: 3%;
   }
 }

 li {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-family: GothamPro sans-serif;
   font-size: 23px;
 }

 &__text2 {
   width: 60%;
   font-family: GothamProMediumRegular sans-serif;
   font-size: 36px;
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   p {
     margin: 0 10%;
   }
 }

 &__photoPart {
   position: relative;
   top: 3vh;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   background-color: white;
   padding: 3%;

   #pic1, #pic3 {
     width: 28em;
   }

   #pic2 {
     width: 23em;
   }
   }

   
}