.header {
 height: 100vh; 
 min-height: 600px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 color: black;

//  background: linear-gradient(135deg, rgba(112,191,242,1) 0%, rgba(213,73,61,1) 15%, rgba(152,220,8,1) 30%, rgba(255,242,0,1) 45%, rgba(248,150,176,1) 60%, rgba(172,80,251,1) 75%, rgba(255,135,1,1) 100%);
 &__top {
   width: 97%; 
   height: 15vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 &__nav {
   width: 90%;
 }

 &__nav ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   flex-wrap: wrap;
 }

 a {
   color: black;
   text-decoration: none;
   font-family: GothamPro sans-serif;
   font-size: 28px;
 }

 &__mainText {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 85vh;

   h1 {
     margin: 0;
     font-family: EuropaNuovaExtraBold sans-serif;
     font-size: 50px;
     margin: 0 3% 0 3%;
   }

   p {
     font-family: EuropaNuovaExtraBold sans-serif;
     font-size: 30px;
   }
 }

 &__logo {
   img {
     width: 13em;
   }
 }

 .bv:hover {
   padding-bottom: 10px;
   border-bottom: 5px solid $VOLUNTEERS-COLOR;
   color: $VOLUNTEERS-COLOR;
 }
 .bs:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $SHOPS-COLOR;
  color: $SHOPS-COLOR;
}
.bd:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $DRUGSTORE-COLOR;
  color: $DRUGSTORE-COLOR;
}
.bt:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $TAXI-COLOR;
  color: $TAXI-COLOR;
}
.bh:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $HUMANITARIANAID-COLOR;
  color: $HUMANITARIANAID-COLOR;
}
.bc:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $CLEANING-COLOR;
  color: $CLEANING-COLOR;
}
.bp:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $PSYCH-COLOR;
  color: $PSYCH-COLOR;
}
}
