mixin cleaning(modifier)
 .cleaning&attributes(attributes)(id="cln")
   .mBlock__top(id="cln_top")
     .mBlock__info
       .mBlock__infoText
         h1 Уборка помещений
       a(href="")
         .mBlock__button(id="cln_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .cleaning__innerBox1
         ul
           li
             img(src="img/cleaning.svg")
             p Уборка квартир
           li
             img(src="img/washing-hands.svg")
             p Уборка домов и коттеджей
     .mBlock__text2
       p 
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
