mixin human(modifier)
 .human&attributes(attributes)(id="hmn")
   .mBlock__top(id="hmn_top")
     .mBlock__info
       .mBlock__infoText(id="hmn_infoText")
         h1 Гуманитарные комнаты
         h2 Помощь нуждающимся семьям
       a(href="")
         .mBlock__button(id="hmn_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .human__innerBox1
         ul
           li
             img(src="img/group.svg")
             p Гуманитарная комната организована общественной органичецией "Семья Муравленко"
           li
             img(src="img/clothes.svg")
             p Нуждающимся может быть предоставлена одежда и обувь
           li
             img(src="img/calendar.svg")
             p Гуманитарная комната находится в ТЦ "Ямал" и работает с 10:00 до 17:00, кроме понедельника и вторника. 
     .mBlock__text2
       p Активисты общественной организации «Семья Муравленко» приглашают жителей, которые оказались в трудной жизненной ситуации, в гуманитарную комнату. Общественники помогут подобрать необходимые вещи и обувь, которые собрали неравнодушные жители города.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
