mixin psych(modifier)
 .psych&attributes(attributes)(id="psc")
   .mBlock__top(id="psc_top")
     .mBlock__info
       .mBlock__infoText(id="psc_infoText")
         h1 Центр социального обслуживания
         h2 Психологическая помощь
       a(href="")
         .mBlock__button(id="psc_button")
           p Заказать
   .mBlock__rest
     .mBlock__text1
       .psych__innerBox1
         ul
           li
             img(src="img/communication.svg")
             p Психологиечское консультирование, снятие депрессивного и стрессового состояния
           li
             img(src="img/pacifier.svg")
             p Услуги няни
           li
             img(src="img/wheelchair.svg")
             p Предоставление технических средств реабилитации
           li
             img(src="img/assistant.svg")
             p Услуги сиделки
           li
             img(src="img/family.svg")
             p Сопровождение ребенка в школу, детский сад или место дополнительного образования
     .mBlock__text2
       p Сотрудники Центра социального обслуживания могут оказать профессиональную психологическую поддержку людям, оказавшимся в трудной жизненной ситуации. Льготной категории граждан услуги предоставляются бесплатно.
   .mBlock__photoPart
     img(src="img/pic1.png")(id="pic1")
     img(src="img/pic2.png")(id="pic2")
     img(src="img/pic3.png")(id="pic3")
