include ../blocks/header/header.pug
include ../blocks/mBlock/mBlock.pug
include ../blocks/shops/shops.pug
include ../blocks/drugstore/drugstore.pug
include ../blocks/taxi/taxi.pug
include ../blocks/human/human.pug
include ../blocks/cleaning/cleaning.pug
include ../blocks/psych/psych.pug

include ../blocks/bvol/bvol.pug
